@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    &__background {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/images/linen-background.jpg');
        background-size: cover;
        z-index: -1;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    &__greeting {
        @include m-header;
        margin: 3rem auto;
        color: white;
        padding: 0 1rem;
        text-align: center;

        @include tablet {
            @include td-header;
            margin: 6rem auto;
        }
    }
    
    &__actions-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $off-white-transparent;
        padding: 3rem 0;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        @include desk-width;
        padding: 0 1.5rem;
        gap: 1rem;
        
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        @include desktop {
            justify-content: space-evenly;
            padding: 0;
        }
    }
    
    &__link {
        cursor: pointer;
        display: block;
        flex-grow: 1;
        height: 30vh;
        max-height: 300px;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &:hover {
            box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
        }

        &--explore {
            background-image: url("../../assets/images/explore-page.jpg");
            background-size: cover;
        }
        
        &--my-closet {
            background-image: url('../../assets/images/my-closet.jpeg');
            background-size: cover;
        }
    }

    &__subheader {    
        text-transform: uppercase;
        @include m-header;
        font-size: 1.25rem;
        color: black;
        background-color: white;
        padding: 0.5rem 1rem;
    }
}

.requests {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    
    &:hover {
        box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    }
    
    &__content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    &__pending-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 1rem;
    }
    
    &__label {
        display: block;
        color: teal;
        @include m-label;
        padding: 0 1rem;
    }
    
    &__list {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 1rem;

        @include tablet {
            gap: 0.5rem;
            padding: 1rem 0;
        }
    }

    &__placeholder {
        padding: 0.5rem 1rem;
        @include m-body;

        @include tablet {
            @include td-body;
            padding: 0 1rem;
        }
    }
}