// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desk-max-width: 1150px;
// $tablet-padding: 0 2.25rem;

// Colours
$bittersweet: #EB5E55;
$amber: #FFBF00;
$teal: #28AFB0;
$grey: #D7D7D5;
$grey-background: rgba(215, 215, 213, 0.25);
