// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desk-max-width: 1150px;

// Colours
$teal: #048A81;
$bittersweet: #EB5E55;
$amber: #FFBF00;
$off-white: rgb(255, 250, 245);
$off-white-transparent: rgba(255, 250, 245, 0.7);
$grey: #D7D7D5;
$grey-background: rgba(225, 225, 223, 0.25);
