@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.request-modal{
    &__content-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem 0.5rem 1rem;
        overflow: hidden;

        @include desktop {
            justify-content: center;
            flex-wrap: wrap;
            padding: 2rem 1rem 1rem;
            column-gap: 1rem;
        }
    }
    
    &__item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 35%;
        border-bottom: 0.5px solid $grey;
        padding-bottom: 1rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
        
        @include desktop {
            width: 45%;
            height: 100%;
            flex-direction: column;
            border-bottom: unset;
            border-right: 0.5px solid $grey;
            padding-bottom: 0;
        }
    }
    
    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        @include tablet {
            height: 100%;
        }

        @include desktop {
            height: 50%;
        }
    }
    
    &__image {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    
    &__details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        @include tablet {
            align-items: flex-start;
        }
    }

    &__header {
        @include m-subheader;
        font-weight: 700;
        color: black;
        margin-top: 1rem;
        
        @include tablet {
            @include td-subheader;
            margin: 0 0 0.5rem;
        }
    
        @include desktop {
            text-align: left;
            margin-top: 1rem;
        }
    }

    &__details {
        @include m-body;
        color: grey;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        height: 65%;

        @include desktop {
            width: 50%;
            height: 100%;
            justify-content: flex-start;
            padding-top: 0;
        }
    }

    &__tag {
        display: inline;
        @include m-label;
        color: $bittersweet;
        border-radius: 20%;
        text-align: right;

        &--accepted {
            color: $teal;
        }

        @include tablet {
            @include td-label;
        }
    }
    
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
        }
    }

    &__button {
        flex-shrink: 0;
    }
}

.messages {
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 78px);

    &__header {
        display: block;
    }
    
    &__container {
        width: 100%;
        display: flex;
        overflow: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__item {
        display: block;
        width: fit-content;
        max-width: 55%;

        &--user {
            align-self: flex-end;
            text-align: right;
        }
    }
    
    &__username {
        display: block;
        @include m-label;
    }
    
    &__message-body {
        background-color: $grey;
        color: black;
        padding: 0.5rem;
        border-radius: 4px;
    
        &--user {
            background-color: $teal;
            color: white;
            text-align: left;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: -0.5rem;
        border: 0.5px solid $teal;
        border-radius: 4px;
        height: 2rem;
    }

    &__input {
        all: unset;
        margin-bottom: 0.15rem;
        padding: 0 0.5rem;
        flex-grow: 1;

        &::placeholder {
            @include m-body;
        }
    }

    &__icon-container {
        display: inline-block;
        background-color: $teal;
        width: 2rem;
        padding: 0.25rem;
    }
    
    &__send-icon {
        width: 100%;
    }
}