@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        @include desk-width;
    }

    &__logo-container {
        cursor: pointer;
        min-width: 180px;
        
        &:hover {
            color: $teal;
        }
    }

    &__logo-icon {
        width: 30px;
        height: 30px;
    }

    &__logo {
        @include m-header;
        padding-top: 0.35rem;
    }

    &__menu-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__add-friends-icon {
        width: 40px;
        height: 40px;
        margin-right: 1.5rem;
        margin-bottom: -8px;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            transform: translateY(-0.25rem)
        }
    }

    &__navmenu {
        display: none;
        background-color: white;
        position: absolute;
        margin-top: 52px;
        margin-right: -1rem;
        width: 100vw;
        height: 8rem;

        @include tablet {
            all: unset;
        }

        &--show {
            display: block;
        }
    }

    &__navlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        @include desktop {
            align-items: flex-start;
        }
    }

    &__list-item {
        list-style-type: none;
        @include m-body;
        cursor: pointer;
        margin: 0.25rem 0;

        @include tablet {
            margin: unset;
        }

        &:hover {
            color: $teal;
        }

        &--name {
            @include m-subheader;
        }
    }

    &__hamburger-container {
        @include tablet {
            display: none;
        }
    }
}

.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 0;
    cursor: pointer;

    &__line {
        width: 100%;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $teal;
        transform-origin: 1px;
        transition: all 0.3s linear;

        &--1 {
            transform: rotate(45deg);
        }

        &--2 {
            opacity: 0;
        }

        &--3 {
            transform: rotate(-45deg);
        }
    }
}