@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.closet {
    padding-top: 1rem;
    @include tablet {
    }

    @include desktop {
        padding-top: 6rem;
    }
    
    &__header-container {
        padding: 1rem 0;
        background-color: white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        @include desk-width;
    }
    
    &__title {
        @include m-header;
        font-weight: 600;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $teal;
    }

    &__add-button--mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $teal;
        color: white;
        @include m-header;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    }

    &__add-button--td {
        display: none;

        @include tablet {
            display: block;
            cursor: pointer;
        }
    }
}