@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.secondary-button {
    width: 100%;
    height: 2rem;
    border: 1px solid $teal;
    background-color: white;
    border-radius: 4px;
    color: $teal;
    text-align: center;
    padding: 0.25rem;
    @include m-label;
    cursor: pointer;

    @include tablet {
        width: unset;
        padding: 0.25rem 1rem;
    }

    &:active {
        background-color: $teal;
        color: white;
    }
}